version: '3'

services:

  portainer:
    image: portainer/portainer-ce:latest
    container_name: {{ ansible_fqdn }}
    restart: always
    volumes:
      - ./portainer-data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - 9443:9443
